/*
Main
*/

aside {
    background-color: #051E34;
}

aside ul li i {
    width: 1em;
    height: 1rem;
    font-size: 1rem;
}

main {
    height: calc(100vh - 4.375rem);
}

main .main-right-content {
    width: 100%;
}

.container-fluid .row.top-row {
    background-color: #1B72E8;
}

.row img.avatar {
    width: 1.5rem;
    vertical-align: bottom;
}

@media screen and (min-width: 992px) {
    main aside {
        width: 9.375rem;
    }

    main div.main-right-content {
        width: calc(100% - 9.375rem);
    }
}